@media(max-width:912px){
    .index-game .section-game{
        width: 80%;
    }

.index-game .section-game > .elment-game > .rock{
    top: 70px; 
    left: 55%;
    border: 15px solid #f21b1b;
}

.index-game .section-game > .elment-game > .paper{
    top: 70px;
    right: 55%;
    border: 15px solid #1ba0f2;
}
.index-game .section-game > .elment-game > .scissors{
    top: 47%; 
    right: 38%;
    border: 15px solid #ffb30d;
}
.index-game .section-game > .options-element > div > div.win{
    border: 100px solid #023b5256;
}

.index-game .section-game > .options-element > div{
    width: 200px;
}
.index-game .section-game > .options-element > div > span{
    top: 70px;
}
.index-game .section-game > .options-element > div:first-of-type{
    left: 0;
}
.index-game .section-game > .options-element > span.finesh-1{
    left: 40%;
}

}
@media(max-width:820px){
    .index-game .section-game{
        width: 100%;
    }
    .index-game .section-game > .options-element > div{
        width: auto;
    }
    .index-game .section-game > .elment-game{
        height: 90%;
    }
    .index-game .section-game > .elment-game > .paper{
        top: 100px;
    }
    .index-game .section-game > .elment-game > .rock{
        top: 100px;
    }
    .index-game .section-game > .options-element > div > div.win{
        border: 100px solid #023b5256;
    }
    .index-game .section-game > .options-element > span.finesh-2{
        right: 43%;
    }
    .index-game .section-game > .options-element > span.finesh-1{
        left: 53%;
    }
    .index-game .section-game > .options-element > span.finale > span:first-of-type{
        width: 190px;
        text-align: center;
    }

    .index-game .section-game > .options-element > div > span{
        top: 50px;
    }
    .index-game .section-game > .options-element > div > span.space{
        top: 0px;
    }
    .index-game .section-game > .options-element > div:first-of-type{
        left: 0;
    }
}

@media(max-width:768px){
    .index-game .section-game > .options-element > span.finale > span:first-of-type{
        font-size: 16px;
    }
    .index-game .section-game > .options-element > span.finale > span:last-of-type{
        padding: 10px 10px;
        width: auto;
        font-size: 16px;
    }
    .index-game .section-game > .options-element > div > div > div{
        width: 170px; height: 170px;
    }
    .index-game .section-game > .options-element > span.finesh-1{
        left: 55%;
    }
    .index-game .section-game > .options-element > span.finesh-1 > span:last-of-type{
        width: 120px;
        font-size: 16px;
    }
    
}

@media(max-width:540px){
    .index-game .section-game > .heder-section{
        margin-bottom: 0px;
    }
    .index-game .section-game > .elment-game > img{
        width: 250px;
    }
    .index-game .section-game > .elment-game > div{
        width: 120px; height: 120px;
    }
    .index-game .section-game > .elment-game > .rock{
        top: 60px; 
        left: 55%;
        border: 15px solid #f21b1b;
    }
    
    .index-game .section-game > .elment-game > .paper{
        top: 60px;
        right: 55%;
        border: 15px solid #1ba0f2;
    }
    .index-game .section-game > .elment-game > .scissors{
        top: 47%; 
        right: 38%;
        border: 15px solid #ffb30d;
    }
    .index-game .section-game > .options-element > div > div.win{
        border: 50px solid #023b5256;
    }
    .index-game .section-game > .options-element > div > div > div{
        width: 150px; height: 150px;
    }

    .index-game .section-game > .options-element{
        height: 80%;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
    }
    .index-game .section-game > .options-element > div.option{
        position: relative;
        margin-top: 0;
        height: auto;
    }
    .index-game .section-game > .options-element > div{
        position: relative;
    }
    .index-game .section-game > .options-element > div:first-of-type{
        order: 1;
        margin-top: -100px;
    }
    .index-game .section-game > .options-element > div:last-of-type{
        order: 2;
        margin-top: -100px;
    }
    .index-game .section-game > .options-element > div > span.space{
        top: 20px;
    }
    .index-game .section-game > .options-element > div > span{
        width: 200px;
        font-size: 16px;
        text-align: center;
    }
    .index-game .section-game > .options-element > span.finale{
        position: static;
        order: 3;
        margin-top: 50px;
    }
    .index-game .section-game > .options-element > span.finale > span:last-of-type{
        padding: 10px 10px;
        width: auto;
        font-size: 20px;
    }
    .index-game .section-game > .options-element > span.finale > span:first-of-type{
        
        width: auto;
        font-size: 30px;
    }
    .index-game .section-game > .options-element > span.finesh-1{
        margin-top: 100px;
    }
 
}
@media(max-width:414px){

    .index-game .section-game > .options-element > div > span.space{
        margin-bottom: 0;
    }
    .index-game .section-game > .options-element > div > div > div{
        width: 120px; height: 120px;
        top: -100px;
    }
    .index-game .section-game > .options-element > span.finale{
        position: static;
        order: 3;
        margin-top: 100px;
    }
    .index-game .section-game > .options-element > div > span{
        top: 30px;
        font-size: 13px;
        width:auto;
        text-align: center;
    }
    .index-game .section-game > .options-element > div > div.win{
        border: 30px solid #023b5256;
    }
    .index-game .section-game > .options-element > div > div > .rock{
        border: 20px solid #f21b1b;
        width: 110px; height: 110px;
    }
    .index-game .section-game > .options-element > div > div > .paper{
        border: 20px solid #1ba0f2;
        width: 110px; height: 110px;
    }
    .index-game .section-game > .options-element > div > div > .scissors{
        border: 20px solid #ffb30d;
        width: 100px; height: 100px;
    }
    .index-game .section-game > .options-element > span.finale > span:last-of-type{
        padding: 10px 10px;
        width: auto;
        font-size: 20px;
    }
    .index-game .section-game > .options-element > span.finale > span:first-of-type{
        width: auto;
        font-size: 30px;
    }
    .index-game .section-game > .options-element > span.finesh-2{
        margin-top: 0;
    }
    .index-game > .opasity{
        background-color: #fff;
        opacity: 1;
        margin-top: -20px;
    }
    .index-game .section-game > .heder-section > span > img{
        width: 100px;
    }
    .index-game .section-game > .heder-section > .number-gamer{
        width: 100px;
    }
    .index-game .section-game > .heder-section > .number-gamer > span:last-of-type{
        font-size: 20px;
    }
}
@media(max-width:375px){
    .index-game .section-game > .options-element > div > div.win{
        border: 25px solid #023b5256;
    }
    .index-game .section-game > .options-element > div > div > .rock{
        border: 15px solid #f21b1b;
        width: 90px; height: 90px;
    }
    .index-game .section-game > .options-element > div > div > .paper{
        border: 15px solid #1ba0f2;
        width: 90px; height: 90px;
    }
    .index-game .section-game > .options-element > div > div > div > img{
        width: 30px;
    }
    .index-game .section-game > .options-element > div > div > .scissors{
        border: 15px solid #ffb30d;
        width: 100px; height: 100px;
    }
    .index-game > .rules-game > img{
        width: 250px;
}
}

    @media(max-width:360px){
        .index-game .section-game > .options-element > div > div.win{
            border: 25px solid #023b5256;
        }
        .index-game .section-game > .options-element > div > div > .rock{
            border: 15px solid #f21b1b;
            width: 90px; height: 90px;
        }
        .index-game .section-game > .options-element > div > div > .paper{
            border: 15px solid #1ba0f2;
            width: 90px; height: 90px;
        }
        .index-game .section-game > .options-element > div > div > div > img{
            width: 30px;
        }
        .index-game .section-game > .options-element > div > div > .scissors{
            border: 15px solid #ffb30d;
            width: 100px; height: 100px;
        }
        .index-game > .rules-game > img{
            width: 250px;
    }
}


@media(max-width:393px){
    .index-game .section-game > .options-element > div > div.win{
        border: 25px solid #023b5256;
    }
    .index-game .section-game > .elment-game > .scissors{
        right: 30%;;
    }
}

@media(max-width:280px){
    .index-game .section-game > .options-element{
        width: 100%;
    }
    .index-game .section-game > .options-element > div > div.win{
        border: 20px solid #023b5256;
    }
    .index-game .section-game > .options-element > div > div > .rock{
        border: 15px solid #f21b1b;
        width: 65px; height: 65px;
    }
    .index-game .section-game > .options-element > div > div > .paper{
        border: 15px solid #1ba0f2;
        width: 65px; height: 65px;
    }
    .index-game .section-game > .options-element > div > div > .scissors{
        border: 15px solid #ffb30d;
        width: 65px; height: 65px;
    }
    .index-game .section-game > .options-element > div > div > div > img{
        width: 20px;
    }
    .index-game .section-game > .options-element > div > span.space{
        font-size: 8px;;
    }
    .index-game .section-game > .heder-section span img{
        width: 70px;
    }
    .index-game .section-game > .heder-section > .number-gamer{
        font-size: 11px;
        padding: 5px 10px;
        width: auto;
    }
    .index-game .section-game > .elment-game > div{
        width: 100px; height: 100px;
    }
    .index-game .section-game > .elment-game > img{
        width: 200px;
    }
    .index-game .section-game > .elment-game > .rock{
        top: 50px; 
        left: 55%;
        border: 15px solid #f21b1b;
    }
    .index-game .section-game > .elment-game > .paper{
        top: 50px;
        right: 55%;
        border: 15px solid #1ba0f2;
    }
    .index-game .section-game > .elment-game > .scissors{
        top: 50%; 
        right: 30%;
        border: 15px solid #ffb30d;
    }
    .index-game .section-game > .options-element > span.finale{
        margin-top: 20px;
    }
   
}
